
@keyframes itemAppear {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    opacity: .5%;
  }
  100% {
    transform: scale(1);
    opacity: 100%;
  }
}

@keyframes rotate {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}

@keyframes fill {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

// Apparition progressive

.delay-1 {
  animation-delay: .1s;
}

.delay-2 {
  animation-delay: .2s;
}

.delay-3 {
  animation-delay: .3s;
}

.delay-4 {
  animation-delay: .4s;
}

.delay-5 {
  animation-delay: .5s;
}

.delay-6 {
  animation-delay: .6s;
}

.delay-7 {
  animation-delay: .7s;
}

.delay-8 {
  animation-delay: .8s;
}

.delay-9 {
  animation-delay: .9s;
}


//Loader

@keyframes loader {
  0% {
  opacity: 1;
}
  100% {
    opacity: 0;
    z-index: -10;
  }
}

// Start : 53%
@keyframes animate-top-bun {
  0% {
    transform: scale(0) translate(5px, 0px);
  }
  53% {
    transform: scale(0) translate(5px, 0px);
  }
  58% {
    transform: scale(1.05) translate(5px, 0px);
  }
  59% {
    transform: scale(1.0) translate(5px, 0px);
  }
  100% {
    transform: scale(1.0) translate(5px, 0px);
  }
}

// Start : 42%
@keyframes animate-pickle-2 {
  0% {
    transform: scale(0) translate(100px, 50px) rotate(15deg);
  }
  42% {
    transform: scale(0) translate(100px, 50px) rotate(15deg);
  }
  47% {
    transform: scale(1.05) translate(100px, 50px) rotate(15deg);
  }
  48% {
    transform: scale(1.0) translate(100px, 50px) rotate(15deg);
  }
  100% {
    transform: scale(1.0) translate(100px, 50px) rotate(15deg);
  }
}

// Start : 36%
@keyframes animate-pickle-1 {
  0% {
    transform: scale(0) translate(30px, 50px) rotate(-10deg);
  }
  36% {
    transform: scale(0) translate(30px, 50px) rotate(-10deg);
  }
  41% {
    transform: scale(1.05) translate(30px, 50px) rotate(-10deg);
  }
  42% {
    transform: scale(1.0) translate(30px, 50px) rotate(-10deg);
  }
  100% {
    transform: scale(1.0) translate(30px, 50px) rotate(-10deg);
  }
}

// Start : 30%
@keyframes animate-tomato-2 {
  0% {
    transform: scale(0) translate(20px, 50px) rotate(-10deg);
  }
  30% {
    transform: scale(0) translate(20px, 50px) rotate(-10deg);
  }
  35% {
    transform: scale(1.05) translate(20px, 50px) rotate(-10deg);
  }
  36% {
    transform: scale(1.0) translate(20px, 50px) rotate(-10deg);
  }
  100% {
    transform: scale(1.0) translate(20px, 50px) rotate(-10deg);
  }
}

// Start : 24%
@keyframes animate-tomato-1 {
  0% {
    transform: scale(0) translate(90px, 55px);
  }
  24% {
    transform: scale(0) translate(90px, 55px);
  }
  29% {
    transform: scale(1.05) translate(90px, 55px);
  }
  30% {
    transform: scale(1.0) translate(90px, 55px);
  }
  100% {
    transform: scale(1.0) translate(90px, 55px);
  }
}

// Start : 18%
@keyframes animate-cheese-1 {
  0% {
    transform: scale(0) skewx(-20deg) translate(50px, 55px);
  }
  18% {
    transform: scale(0) skewx(-20deg) translate(50px, 55px);
  }
  23% {
    transform: scale(1.05) skewx(-20deg) translate(50px, 55px);
  }
  24% {
    transform: scale(1.0) skewx(-20deg) translate(50px, 55px);
  }
  100% {
    transform: scale(1.0) skewx(-20deg) translate(50px, 55px);
  }
}

// Start : 17%
@keyframes animate-cheese-2 {
  0% {
    transform: scale(0) skewx(20deg) translate(40px, 65px) rotate(-10deg);
  }
  12% {
    transform: scale(0) skewx(20deg) translate(40px, 65px) rotate(-10deg);
  }
  17% {
    transform: scale(1.05) skewx(20deg) translate(40px, 65px) rotate(-10deg);
  }
  18% {
    transform: scale(1.0) skewx(20deg) translate(40px, 65px) rotate(-10deg);
  }
  100% {
    transform: scale(1.0) skewx(20deg) translate(40px, 65px) rotate(-10deg);
  }
}

// Start : 6%
@keyframes animate-beef {
  0% {
    transform: scale(0) translate(0px, 55px);
  }
  6% {
    transform: scale(0) translate(0px, 55px);
  }
  11% {
    transform: scale(1.05) translate(0px, 55px);
  }
  12% {
    transform: scale(1.0) translate(0px, 55px);
  }
  100% {
    transform: scale(1.0) translate(0px, 55px);
  }
}

// Start : 0%
@keyframes animate-bottom-bun {
  0% {
    transform: scale(0) translate(5px, 85px);
  }
  5% {
    transform: scale(1.05) translate(5px, 85px);
  }
  6% {
    transform: scale(1.0) translate(5px, 85px);
  }
  100% {
    transform: scale(1.0) translate(5px, 85px);
  }
}