@mixin shadow($colour:$colour-bg-dark, $size: $shadow-size){
  box-shadow: 0.25rem 0.25rem 10px darken($colour, 10%);
}

@mixin cross {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $colour-accent;
  width: 50px;
  height: 63px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  position: absolute;
  padding: 20px;
  right: -50px;
  top: 0;
  opacity: 0;
  transition: transform 330ms ease-in-out;
  & .fa-check-circle {
    color: #fff;
    transition: transform 500ms ease-in-out;
  }
}