.location {
  background-color: $colour-bg-dark;
  padding: $spacing;
  text-align: center;
  font-weight: 400;
}

.introduction {
  background-color: $colour-bg-light;
  padding: $spacing-block;
  text-align: center;
  &__subtitle {
    margin: 1.5rem 0;
    font-weight: 300;
  }
}

.tutorial {
  padding: $spacing-block;
  &__steps {
    margin: 0;
    padding: 0;
    list-style: none;
    counter-reset: steps-list;
    @media (min-width: map-get($breakpoints, tablet)) {
      display: flex;
      justify-content: space-between;
    }
  }
  &__step {
    counter-increment:steps-list;
    padding: 1.5rem;
    margin: 1rem 0 1rem .75rem;
    box-shadow: 0.25rem 0.25rem 0.5rem rgb(0 0 0 / 13%);
    border-radius: 1.25rem;
    background-color: #f6f6f6;
    display: flex;
    position: relative;
    transition-duration: .25s;
  }
  &__step:before {
    content: counter(steps-list);
    background: #9356dc;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: absolute;
    left: -.75rem;
  }
  &__icon {
    margin-right: 1rem;
    color: #7e7e7e;
    transition-duration: .25s;
  }
  &__step:hover {
    background-color: lighten($colour-primary, 30%);
    i {
      color: $colour-primary;
    }
  }
}

.restaurants {
  background-color: $colour-bg-light;
  padding: $spacing-block;
  &__cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 2rem;
    row-gap: 2rem;

    @media (min-width: map-get($breakpoints, tablet)) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  &__card {
    background-color: #fff;
    border-radius: 1rem;
    position: relative;
    text-decoration: none;
    color: inherit;
    display: block;
  }
  &__img {
    height: 12rem;
    width: 100%;
    border: 0 solid transparent;
    border-radius: 1rem 1rem 0 0;
    box-shadow: none;
    object-fit: cover;
  }
  &__badge {
    background-color: #99e2d0;
    color: #1b6150;
    padding: .5rem;
    border-radius: .125rem;
    position: absolute;
    top: 1rem;
    right: .75rem;
  }
  figcaption {
    padding: 1rem;
    display: flex;
  }
  &__content {
    flex: 1;
  }
  &__btn {
    height: 2rem;
    width: 2rem;
    border: 0 solid transparent;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    background-color: #000;
  }

}
