.footer {
  background-color: $colour-bg-darker;
  color: $colour-white;
  padding: $spacing-block;
  a {
    color: $colour-white;
    text-decoration: none;
  }
  &__logo {
    margin: 0;
    font-family: 'Shrikhand', cursive;
    font-weight: 100;
    font-size: 1.5em;
    padding-bottom: 20px;
    @media (min-width: map-get($breakpoints, tablet)) {
      text-align: center;
      font-size: 2.5em;
    }
  }
  &__nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    @media (max-width: map-get($breakpoints, mobile)) {
      display: block;
    }
  }
  &__icon {
    width: 1.2rem;
    margin-right: .5rem;
  }
}