body {
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-family: 'Shrikhand', cursive;
  font-weight: 100;
  font-size: 2.5em;
}

figure,h3 {
  margin: 0;
  padding-bottom: 10px;
}

.container {
  margin: auto;
  position: relative;
  max-width: 1280px;
}
.center {
  text-align: center;
}
.btn {
  border: 0;
  padding: .75rem 1.5rem;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 100px;
  color: $colour-white;
  background-image: linear-gradient(0deg,$colour-primary,$colour-secondary);
  cursor: pointer;
  transition-duration: .25s;
  box-shadow: 0.25rem 0.25rem 10px rgb(0 0 0 / 25%);
}
.btn:hover {
  opacity: 0.85;
  @include shadow(grey);
}